<div class="col-md-12 hide">
    <button class="btn btn-default btn-outline btn-block btn-add-payment-method" type="button">
        <span class="pull-left">
            <i class="fa fa-plus fa-fw"></i>
            <span>Add Postpaid Account</span>
        </span>
        <span class="clearfix"></span>
    </button>
</div>
<div ng-show="wzPaymentCtrl.pm.postpayMethods.length == 0">
    <div class="text-center m-b-md">
        You do not have an approved postpaid account.
    </div>
</div>
<div ng-show="wzPaymentCtrl.pm.postpayMethods.length > 0" class="postpaid-payment-content">
    <h3 class="m-b-lg">Select your postpaid account</h3>
    <div class="row m-b-lg">
        <div data-toggle="buttons">
            <div class="col-md-12" ng-repeat="postpayMethod in wzPaymentCtrl.pm.postpayMethods">
                <label ng-click="wzPaymentCtrl.selectedMethod(postpayMethod)"
                       class="btn btn-white btn-block btn-chk-payment-method">
                    <!-- to replace this icon as real image icon-->
                    <input type="radio" class="chk-payment-method hide" />
                    <span class="pull-left">
                        <i class="fa fa-file-o fa-fw"></i>
                        <span>{{ postpayMethod.Name }}</span>
                    </span>
                    <span class="pull-right">
                        Credit: <strong class="text-blue">S$ {{ postpayMethod.Balance.Value }}</strong>
                    </span>
                    <span class="clearfix"></span>
                </label>
            </div>

        </div>
    </div>
</div>