/.vs
/packages
/Hotel.Web/bin
/Hotel.Web/obj
/Hotel.Api/bin
/Hotel.Api/obj
/Hotel.Domain/obj
/Hotel.Domain/bin
/Hotel.Persistence/bin
/Hotel.Persistence/obj
/HMS.DependencyInjection/bin
/HMS.DependencyInjection/obj
/Hotel/obj
/Hotel/bin
/Hotel.Web/Scripts/app/*.js
/Hotel.Web/Scripts/app/shell/*.js
/Hotel.Web/Scripts/app/shared/services/*.js
/Hotel.Web/Scripts/app/shared/filters/*.js
/Hotel.Web/Scripts/app/shared/directives/modal/*.js
/Hotel.Web/Scripts/app/modules/wizard/*.js
/Hotel.Web/Scripts/app/modules/wizard/complete/*.js
/Hotel.Web/Scripts/app/modules/wizard/delivery/*.js
/Hotel.Web/Scripts/app/modules/wizard/payment/*.js
/Hotel.Web/Scripts/app/modules/wizard/payment.card/*.js
/Hotel.Web/Scripts/app/modules/wizard/payment.postpaid/*.js
/Hotel.Web/Scripts/app/modules/wizard/shared/directives/*.js
/Hotel.Web/Scripts/app/modules/wizard/shipping/*.js
/Vendor
/Hotel.Web/Vendor
/Hotel.Web/Scripts/app/shared/directives/*.js
/Hotel.Web/Scripts/app/modules/hotel/*.js
/Hotel.Web/Scripts/app/modules/hotel/roomtype/*.js
/Hotel.Web/Scripts/app/modules/hotel/data/*.js
/_Layout.cshtml
/Index.cshtml
/BundleConfig.cs
/modules
/app
/Hotel.Web/Scripts/app/*.map
/Hotel.Web/Scripts/app/shell/*.map
/Hotel.Web/Scripts/app/shared/directives/*.map
/Hotel.Web/Scripts/app/shared/filters/*.map
/Hotel.Web/Scripts/app/shared/services/*.map
/Hotel.Web/Scripts/app/modules/hotel/*.map
/Hotel.Web/Scripts/app/modules/hotel/roomtype/*.map
/Hotel.Web/Scripts/app/modules/hotel/data/*.map
/payment
