/.vs
/packages
/Hotel.Web/bin
/Hotel.Web/obj
/Hotel.Api/bin
/Hotel.Api/obj
/Hotel.Domain/obj
/Hotel.Domain/bin
/Hotel.Persistence/bin
/Hotel.Persistence/obj
/HMS.DependencyInjection/bin
/HMS.DependencyInjection/obj
