<div class="row white-bg border-bottom page-headings">
    <div class="page-heading heading-main">
        <div class="col-md-12">
            <div class="breadcrumb-wrapper">
                <i class="fa fa-cog"></i>
                <ol class="breadcrumb m-l-sm">
                    <li class="active">Network Settings: Wallet</li>
                </ol>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="fh-breadcrumb">
    <div class="full-height">
        <div class="full-height-scroll" slimscroll='{"height": "100%"}'>
            <div class="element-detail-box">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="ibox" id="ibox-wallet">
                            <div class="ibox-title">
                                <h3>Wallet Settings</h3>
                            </div>
                            <div class="ibox-content">
                                <form class="ng-pristine ng-valid" name="ws" ng-submit="walletCtrl.saveWalletSetting(ws.$valid);" novalidate>
                                    <fieldset>
                                        <legend>Batch Payment Processing</legend>
                                        <table class="table table-no-border">
                                            <tbody>
                                                <tr>
                                                    <td><label>Spend Limit</label></td>
                                                    <td>
                                                        <div class="input-group input-group-inline">
                                                            <input name="spendLimit" class="form-control" min="0" required 
                                                                   ng-model="walletCtrl.vm.wallet.DirectPaymentSettings.SpendLimit.Value"
                                                                   ng-class="{'error':ws.spendLimit.$invalid && ws.spendLimit.$dirty}" type="text" decimal precision="2">
                                                            <div class="input-group-addon">{{walletCtrl.vm.wallet.DirectPaymentSettings.SpendLimit.Symbol}}</div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><label>Batch Amount Threshold</label></td>
                                                    <td>
                                                        <div class="input-group input-group-inline">
                                                            <input name="threshold" class="form-control" min="0" required
                                                                   ng-model="walletCtrl.vm.wallet.DirectPaymentSettings.Threshold.Value"
                                                                   ng-class="{'error':ws.threshold.$invalid && ws.threshold.$dirty}" type="text" decimal precision="2">
                                                            <div class="input-group-addon">{{walletCtrl.vm.wallet.DirectPaymentSettings.Threshold.Symbol}}</div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <!--<div class="checkbox">
                                                            <input type="checkbox" ng-model="walletCtrl.vm.wallet.DirectPaymentSettings.IsMaxAgeUsed" ng-show="false">
                                                            <span>Batch Age Threshold</span>
                                                        </div>-->
                                                        <label>Batch Age Threshold</label>
                                                    </td>
                                                    <td>
                                                        <div class="input-group input-group-inline">
                                                            <!--<input class="form-control" name="maxDelayed" step="1" pattern="\d+" required
                                                                   ng-disabled="!walletCtrl.vm.wallet.DirectPaymentSettings.IsMaxAgeUsed"
                                                                   ng-model="walletCtrl.vm.wallet.DirectPaymentSettings.MaxDays" ng-init="0"
                                                                   ng-class="{'error':ws.maxDelayed.$invalid && ws.maxDelayed.$dirty}" min="2" type="text" precision="0" money/>-->
                                                            <input class="form-control" name="maxDelayed" required
                                                                   ng-disabled="!walletCtrl.vm.wallet.DirectPaymentSettings.IsMaxAgeUsed"
                                                                   ng-model="walletCtrl.vm.wallet.DirectPaymentSettings.MaxDays"
                                                                   min="2" type="text" precision="0" decimal />
                                                            <div class="input-group-addon">days</div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" ng-model="walletCtrl.vm.wallet.DirectPaymentSettings.IsFirstTimeCharged" />
                                                                <span>Do not process a payment method's first payment in a batch</span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Postpaid Account Monthly Billing</legend>
                                        <table class="table table-no-border">
                                            <tbody>
                                                <tr>
                                                    <td><label>Credit Limit</label></td>
                                                    <td>
                                                        <div class="input-group input-group-inline">
                                                            <input class="form-control" name="creditLimit" min="0" required
                                                                   ng-model="walletCtrl.vm.wallet.PostpaidAccountSettings.CreditLimit.Value"
                                                                   ng-class="{'error':ws.creditLimit.$invalid && ws.creditLimit.$dirty}" type="text" decimal precision="2" />
                                                            <div class="input-group-addon">{{walletCtrl.vm.wallet.PostpaidAccountSettings.CreditLimit.Symbol}}</div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>
                                                            Default Billing Date
                                                            <i data-placement="bottom" data-toggle="tooltip" title=""
                                                               data-original-title="This field accepts 1-31 range. If the input day is greater than the last day of the respective month, the settlement day will be that last day." class="fa fa-question-circle text-muted"></i>
                                                        </label>
                                                        <div class="small text-muted">
                                                            Day of the month
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-group input-group-inline">
                                                            <input class="form-control" name="settlementDay"
                                                                   required ng-model="walletCtrl.vm.wallet.PostpaidAccountSettings.SettlementDay"
                                                                   ng-class="{'error':ws.settlementDay.$invalid && ws.settlementDay.$dirty}"
                                                                   min="1" max="31" type="text" decimal precision="0"/>
                                                            <!--<input type="number" class="form-control" name="settlementDay"
    step="1" pattern="\d+" required
    ng-model="walletCtrl.vm.wallet.PostpaidAccountSettings.SettlementDay"
    ng-class="{'error':ws.settlementDay.$invalid && ws.settlementDay.$dirty}" min="1" max="31"/>-->

                                                        </div>
                                                            
                                                            
</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Receipt</legend>
                                        <table class="table table-no-border">
                                            <tbody>
                                                <tr>
                                                    <td colspan="2">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" ng-model="walletCtrl.vm.wallet.ReceiptSettings.IsTaxEnabled">
                                                                <span>GST/VAT</span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><label>Tax Name</label></td>
                                                    <td>
                                                        <span class="radio-inline">
                                                            <input name="taxIdentifierString" type="radio" ng-model="walletCtrl.vm.wallet.ReceiptSettings.TaxType"
                                                                   ng-init="0" value="10" ng-disabled="!walletCtrl.vm.wallet.ReceiptSettings.IsTaxEnabled"/>
                                                            <span>GST</span>
                                                        </span>
                                                        <span class="radio-inline">
                                                            <input name="taxIdentifierString" type="radio" ng-model="walletCtrl.vm.wallet.ReceiptSettings.TaxType"
                                                                   ng-init="0" value="20" ng-disabled="!walletCtrl.vm.wallet.ReceiptSettings.IsTaxEnabled"/>
                                                            <span>VAT</span>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><label>Tax Rate</label></td>
                                                    <td>
                                                        <div class="input-group input-group-inline">
                                                            <input name="taxRate" class="form-control" type="number" min="0" required
                                                                   ng-model="walletCtrl.vm.wallet.ReceiptSettings.TaxRate" ng-init="0"
                                                                   ng-class="{'error':ws.taxRate.$invalid && ws.taxRate.$dirty}"
                                                                   ng-disabled="!walletCtrl.vm.wallet.ReceiptSettings.IsTaxEnabled" />
                                                            <div class="input-group-addon">%</div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </fieldset>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success">Save</button>
                                        <button type="button" class="btn btn-default">Cancel Changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>