<div class="row white-bg border-bottom page-headings">
    <!-- Page title and breadcrumb -->
    <div class="page-heading heading-main">
        <div class="col-md-12">
            <div class="breadcrumb-wrapper">
                <i class="fa fa-cog"></i>
                <ol class="breadcrumb m-l-sm">
                    <li><a ui-sref="paymentMethod">Network Settings: Payment Methods</a></li>
                    <li class="active">{{methodDetailsCtrl.accountInfo.Name}}</li>
                </ol>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>

    <!-- Heading notifications -->
    <!-- Expansion -->
    <!-- Page tabs -->
</div>


<div class="fh-breadcrumb" style="height: calc(100% - 59px);">
    <div class="full-height">
        <div class="full-height-scroll" slimscroll='{"height": "100%"}'>
            <div class="element-detail-box">
                <div class="row">
                    <div class="col-md-8">
                        <div class="ibox ibox-danger" id="ibox-new-method-of-payment">
                            <div class="ibox-title">
                                <h3>Method of Payment</h3>
                                <div class="btn-group btn-tool" ng-show="methodDetailsCtrl.role == 0">
                                    <a ng-class="{'active' : (methodDetailsCtrl.detailModel.bankCard !== null && methodDetailsCtrl.detailModel.bankCard.Enabled)}" class="btn btn-white btn-sm" data-toggle="modal"
                                        data-target="{{ methodDetailsCtrl.detailModel.bankCard !== null ? '' : '#modal-add-direct-method' }}" 
                                        ng-click="methodDetailsCtrl.detailModel.bankCard !== null ? (methodDetailsCtrl.detailModel.bankCard.Enabled ? '' : methodDetailsCtrl.toggleCard(true)) : methodDetailsCtrl.associateCard()">Pay by Card</a>
                                    <a ng-class="{'active' : (methodDetailsCtrl.detailModel.bankCard === null || (methodDetailsCtrl.detailModel.bankCard !== null && !methodDetailsCtrl.detailModel.bankCard.Enabled))}" class="btn btn-white btn-sm"
                                        ng-click="(methodDetailsCtrl.detailModel.bankCard !== null && methodDetailsCtrl.detailModel.bankCard.Enabled) ? methodDetailsCtrl.toggleCard(false) : ''">Off</a>
                                    <!--
                                            
                                    -->
                                    <!--<a ng-class="{'active':methodDetailsCtrl.detailModel.bankCard === null || !methodDetailsCtrl.detailModel.bankCard.Enabled}" class="btn btn-white btn-sm" data-toggle="modal" data-target="{{ methodDetailsCtrl.detailModel.bankCard === null ? '' : '#modal-delete-bankcard' }}">Off</a>-->
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="text-center m-md" ng-if="methodDetailsCtrl.detailModel.bankCard === null">
                                    Invoices for your postpaid accounts will be sent out on your monthly settlement date, so that you can arrange payment to us according
                                    to the agreed payment terms. The method of payments can be cheque, bank or Paypal transfer.<br />
                                    Turn ON paying by card for a convenient hassle free billing to the card of your invoice.
                                    <div class="text text-info" ng-show="methodDetailsCtrl.role != 0">Please contact the account administrator to associate card</div>
                                </div>
                                <div class="table-responsive"
                                        ng-if="methodDetailsCtrl.detailModel.bankCard !== null"
                                        ng-style="{opacity: methodDetailsCtrl.detailModel.bankCard.Enabled ? 1 : 0.5}">
                                    <table class="table table-no-border m-b-none">
                                        <thead>
                                            <tr>
                                                <th>Card Number</th>
                                                <th>Card Type</th>
                                                <th>Expiry Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{methodDetailsCtrl.detailModel.bankCard.Name}}</td>
                                                <td><img ng-src="{{ methodDetailsCtrl.detailModel.bankCard.ImageUrl }}" class="img-icon-payment-method" height="30"></td>
                                                <td>{{methodDetailsCtrl.detailModel.bankCard.ExpirationDate}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="ibox" id="ibox-postpaid-account-members">
                            <div class="ibox-title">
                                <h3>Members<span class="label">{{ methodDetailsCtrl.companyMembers.length }}</span></h3>
                                <a class="btn btn-white btn-sm btn-tool" data-toggle="modal" data-target="#modal-invite-member" ng-if="methodDetailsCtrl.role == 0">
                                    <i class="fa fa-plus"></i>
                                    <span>Invite a Member</span>
                                </a>
                            </div>
                            <div class="ibox-content">
                                <div class="table-responsive" style="overflow: inherit">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Role</th>
                                                <th>Since</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="member in methodDetailsCtrl.companyMembers">
                                                <td>
                                                    {{ member.User.FullName }}
                                                    <strong ng-if="member.Me"> (Me)</strong>
                                                </td>
                                                <td>
                                                    {{ member.User.PrimaryEmail.Address }}
                                                </td>
                                                <td>
                                                    {{ methodDetailsCtrl.getRole(member.Role.Role) }}
                                                </td>
                                                <td>
                                                    {{ methodDetailsCtrl.getDurationDate(member.Role.CreatedAt) }}, {{ member.Role.CreatedAt | jsonDate : 'dd/MM/yyyy' }}
                                                </td>
                                                <td>
                                                    <a ng-if="(methodDetailsCtrl.role == 0 || member.Me) && !member.BlockRemove" data-target="#modal-delete-member" ng-click="methodDetailsCtrl.onDeleteMember(member)" data-toggle="modal" class="btn btn-danger btn-xs">{{member.Me? 'Leave':'Remove'}}</a>
                                                </td>
                                            </tr>
                                            <tr class="warning" ng-repeat="ivi in methodDetailsCtrl.invitationMembers">
                                                <td>
                                                    {{ ivi.Name }}
                                                </td>
                                                <td>
                                                    {{ ivi.Email }}
                                                </td>
                                                <td>
                                                    {{ methodDetailsCtrl.getRole(ivi.Role) }}
                                                </td>
                                                <td>
                                                    {{ methodDetailsCtrl.getDurationDate(ivi.LastSent) }}, {{ ivi.LastSent | jsonDate : 'dd/MM/yyyy' }}
                                                </td>
                                                <td>
                                                    <div class="dropdown">
                                                        <a href="#" data-toggle="dropdown" class="btn dropdown-toggle btn-primary btn-xs">
                                                            Invitation
                                                            <span class="caret"></span>
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            <li>
                                                                <a ng-click="methodDetailsCtrl.resendInvitation(ivi)">Resend Email</a>
                                                            </li>
                                                            <li>
                                                                <a ng-click="methodDetailsCtrl.cancelInvitation(ivi)">Cancel</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="ibox" id="ibox-postpaid-account-settings">
                            <div class="ibox-title">
                                <h3>Delivery Confirmation Settings</h3>
                                <a class="btn btn-white btn-sm btn-tool" data-toggle="modal" data-target="#modal-form-process-task" ng-show="methodDetailsCtrl.role == 0" ng-click="methodDetailsCtrl.editingProcessTask()">
                                    <i class="fa fa-pencil"></i>
                                    <span>Edit</span>
                                </a>
                            </div>
                            <div class="ibox-content">
                                <div class="form-group">
                                    <div class="checkbox" ng-repeat="task in methodDetailsCtrl.detailModel.completeProcessTasks track by $index">
                                        <label>
                                            <input class="check-box" type="checkbox" ng-model="task.IsEnabled" disabled="true">
                                            {{ methodDetailsCtrl.getCompleteProcessType(task.CompletionProcessType) }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ibox" id="ibox-account-balance">
                            <div class="ibox-title">
                                <h3>Invoice Information</h3><i class="fa fa-exclamation-circle m-l-sm" ng-show="methodDetailsCtrl.accountInfo.ApproveStatus == 0"></i>
                                <a class="btn btn-danger btn-sm btn-tool" data-toggle="modal" data-target="#modal-cancel-invoice" 
                                    ng-show="methodDetailsCtrl.role == 0 && methodDetailsCtrl.accountInfo.ApproveStatus > 0">Cancel Invoice</a>
                            </div>
                            <div class="ibox-content">
                                <div class="alert alert-danger text-center" ng-show="methodDetailsCtrl.accountInfo.ApproveStatus == 0">
                                    <div class="m-t-md m-b-md">
                                        <a href="" class="btn btn-danger" data-toggle="modal" data-target="#modal-set-payment">Set Invoice Payment</a>
                                    </div>
                                </div>
                                <div class="table-responsive" ng-show="methodDetailsCtrl.accountInfo.ApproveStatus > 0">
                                    <table class="table table-no-border m-b-none">
                                        <tbody>
                                        <tr>
                                            <th>
                                                Credit Limit
                                            </th>
                                            <td>
                                                <span>{{methodDetailsCtrl.detailModel.invoiceSetting.CreditLimit.Value|number:2}} {{methodDetailsCtrl.detailModel.invoiceSetting.CreditLimit.Symbol}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Current Jobs
                                            </th>
                                            <td>
                                                <span>{{methodDetailsCtrl.detailModel.invoiceSetting.CurrentJobs.Value|number:2}} {{methodDetailsCtrl.detailModel.invoiceSetting.CurrentJobs.Symbol}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Closed Jobs
                                            </th>
                                            <td>
                                                <span>{{methodDetailsCtrl.detailModel.invoiceSetting.ClosedJobs.Value|number:2}} {{methodDetailsCtrl.detailModel.invoiceSetting.ClosedJobs.Symbol}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Credit Balance
                                            </th>
                                            <td>
                                                <span>{{methodDetailsCtrl.detailModel.invoiceSetting.RemainingCredit.Value|number:2}} {{methodDetailsCtrl.detailModel.invoiceSetting.RemainingCredit.Symbol}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Next Billing Date
                                            </th>
                                            <td>
                                                <span>{{methodDetailsCtrl.detailModel.invoiceSetting.NextSettlementDate|jsonDate : 'dd/MM/yyyy hh:mm a'}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Invoice Status</th>
                                            <td>
                                                <label ng-class="methodDetailsCtrl.getApproveClass(methodDetailsCtrl.accountInfo.ApproveStatus)">{{ methodDetailsCtrl.getApproveStatus(methodDetailsCtrl.accountInfo.ApproveStatus) }}</label>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="ibox" id="ibox-postpaid-account-info">
                            <div class="ibox-title">
                                <h3>Account Information</h3>
                                <a class="btn btn-white btn-sm btn-tool" data-toggle="modal" data-target="#modal-postpaid-account" ng-click="methodDetailsCtrl.editingPostpaidAccount()" ng-show="methodDetailsCtrl.role == 0">
                                    <i class="fa fa-pencil"></i>
                                    <span>Edit</span>
                                </a>
                            </div>
                            <div class="ibox-content">
                                <div class="table-responsive">
                                    <table class="table table-no-border m-b-none">
                                        <tbody>
                                            <tr>
                                                <th>Account Creation Date</th>
                                                <td>{{ methodDetailsCtrl.getDurationDate(methodDetailsCtrl.accountInfo.CreatedAt) }}, {{ methodDetailsCtrl.accountInfo.CreatedAt | jsonDate : 'dd/MM/yyyy' }}</td>
                                            </tr>
                                            <tr>
                                                <th>Company Name</th>
                                                <td>{{ methodDetailsCtrl.accountInfo.Name }}</td>
                                            </tr>
                                            <tr>
                                                <th>Contact Email</th>
                                                <td>{{ methodDetailsCtrl.accountInfo.EmailAddress }}</td>
                                            </tr>
                                            <tr>
                                                <th>Contact Name</th>
                                                <td>{{ methodDetailsCtrl.accountInfo.ContactName }}</td>
                                            </tr>
                                            <tr>
                                                <th>Contact Number</th>
                                                <td>{{ methodDetailsCtrl.accountInfo.ContactNumber }}</td>
                                            </tr>
                                            <tr>
                                                <th>Address Line 1</th>
                                                <td>{{ methodDetailsCtrl.accountInfo.Address1 }}</td>
                                            </tr>
                                            <tr>
                                                <th>Address Line 2</th>
                                                <td>{{ methodDetailsCtrl.accountInfo.Address2 }}</td>
                                            </tr>
                                            <tr>
                                                <th>City</th>
                                                <td>{{ methodDetailsCtrl.accountInfo.City }}</td>
                                            </tr>
                                            <tr>
                                                <th>Country</th>
                                                <td>{{ methodDetailsCtrl.accountInfo.Country }}</td>
                                            </tr>
                                            <tr>
                                                <th>Postal Code</th>
                                                <td>{{ methodDetailsCtrl.accountInfo.PostalCode }}</td>
                                            </tr>
                                            <tr>
                                                <th>Invoice Attention To</th>
                                                <td>{{ methodDetailsCtrl.accountInfo.InvoiceAttentionTo }}</td>
                                            </tr>
                                            <tr ng-show="methodDetailsCtrl.accountInfo.CompanyAcraRegNumber!=null && methodDetailsCtrl.accountInfo.CompanyAcraRegNumber != ''">
                                                <th>Company Registration Number</th>
                                                <td>{{ methodDetailsCtrl.accountInfo.CompanyAcraRegNumber }}</td>
                                            </tr>
                                            <tr ng-show="methodDetailsCtrl.accountInfo.NumberDeliveries!=null && methodDetailsCtrl.accountInfo.NumberDeliveries != ''">
                                                <th>Estimated Number of Deliveries / Month</th>
                                                <td>{{ methodDetailsCtrl.accountInfo.NumberDeliveries }}</td>
                                            </tr>
                                            <tr ng-show="methodDetailsCtrl.accountInfo.Reason!=null && methodDetailsCtrl.accountInfo.Reason != ''">
                                                <th>Additional Comments</th>
                                                <td>{{ methodDetailsCtrl.accountInfo.Reason }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<modal modal-id="modal-invite-member" title="Invite a Member" close-label="Cancel" submit-label="Send Invitation" modal-Style="methodDetailsCtrl.invitationModalStyle"
       modal-data="methodDetailsCtrl.invitationModal" object-model="methodDetailsCtrl.invitationModel" submit-func="methodDetailsCtrl.inviteToPostpaidAccount()"></modal>

<modal modal-id="modal-postpaid-account" title="Edit Account {{methodDetailsCtrl.accountInfo.Name}}" close-label="Cancel" submit-label="Save"
       modal-data="methodDetailsCtrl.postpaidModal" object-model="methodDetailsCtrl.postpaidModel" submit-func="methodDetailsCtrl.savePostpaidAccount()"></modal>

<ng-include src="'/scripts/app/modules/payment/method/add-direct-method.view.html'"></ng-include>


<div class="modal inmodal fade in" id="modal-form-process-task" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Select Delivery Confirmation Options</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="checkbox" ng-repeat="task in methodDetailsCtrl.completeTaskToEdit track by $index">
                            <label>
                                <input class="check-box" type="checkbox" ng-model="task.IsEnabled" ng-disabled="task.IsLocked">
                                {{ methodDetailsCtrl.getCompleteProcessType(task.CompletionProcessType) }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCloseConfirmOption">Close</button>
                    <button type="submit" class="btn btn-success" ng-click="methodDetailsCtrl.editCompleteProcessTask()">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modal-delete-bankcard" class="modal inmodal fade modal-ru modal-ru-confirmation" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="fa fa-trash modal-icon"></i>
                <div>Are you sure you would like to remove this card?</div>
            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-danger" ng-click="methodDetailsCtrl.removeCard()">Yes</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-white" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-delete-member" class="modal inmodal fade modal-ru modal-ru-confirmation" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="fa fa-user-times modal-icon"></i>
                <div>
                    Are you sure you want to remove member <strong>{{ methodDetailsCtrl.deletingMember.User.FullName }}</strong> from postpaid account <strong>{{methodDetailsCtrl.accountInfo.Name}}</strong>?
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-danger" ng-click="methodDetailsCtrl.deleteMember()">Yes</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-white" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-cancel-invoice" class="modal inmodal fade modal-ru modal-ru-confirmation" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="fa fa-times modal-icon"></i>
                <div>Are you sure you want to cancel this invoice payment?</div>
            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <a class="btn btn-danger" ng-click="methodDetailsCtrl.cancelInvoice()">Yes</a>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-white" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade modal-ru modal-ru-form in" id="modal-set-payment" tabindex="-1">
    <form name="modalForm" novalidate="" class="ng-pristine ng-valid ng-valid-required ng-valid-min ng-valid-max">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Request for Invoice Payment <i class="fa fa-exclamation-circle m-l-sm"></i></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>
                            Company Registration Number (Optional for Individuals)
                        </label>
                        <div>
                            <input class="form-control" ng-model="methodDetailsCtrl.paymentRequestMD.companyAcraRegNumber"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            Estimated Number of Deliveries / Month (Optional)
                        </label>
                        <div>
                            <input class="form-control" ng-model="methodDetailsCtrl.paymentRequestMD.numberDeliveries" type="text" decimal precision="0"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            Additional Comments (Optional)
                        </label>
                        <div>
                            <input class="form-control" ng-model="methodDetailsCtrl.paymentRequestMD.reason"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button class="btn btn-success" ng-click="methodDetailsCtrl.setInvoicePayment()">Send Request</button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-white" data-dismiss="modal" id="btn-close-modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
