<div ng-show="wzPaymentCtrl.pm.directMethods.length == 0">
    <div class="text-center m-b-md">
        You have no saved credit card or PayPal information.
    </div>
    <div class="row m-b-lg">
        <div class="col-md-4" ng-repeat="gateway in wzPaymentCtrl.pm.paymentGateways">
            <a class="btn btn-default btn-outline btn-block btn-add-payment-method" href="#"
               data-toggle="modal" data-target="#modal-add-payment"
               title="{{gateway.Name}}"
               ng-click="wzPmtCardCtrl.openForm(gateway.Id)">
                <i class="fa fa-plus"></i>
                <span>Add Credit Card/Paypal Account</span>
            </a>
        </div>
    </div>
</div>
<div ng-show="wzPaymentCtrl.pm.directMethods.length" class="postpaid-payment-content">
    <h3 class="m-b-lg">Select existing cards/Paypal account</h3>
    <div class="row m-b-lg">
        <div class="col-md-4" ng-repeat="gateway in wzPaymentCtrl.pm.paymentGateways">
            <a class="btn btn-default btn-outline btn-block btn-add-payment-method" href="#"
               data-toggle="modal" data-target="#modal-add-payment"
               title="{{gateway.Name}}"
               ng-click="wzPmtCardCtrl.openForm(gateway.Id)">
                <i class="fa fa-plus"></i>
                <span>Add Credit Card/Paypal Account</span>
            </a>
        </div>
        <div data-toggle="buttons">
            <div class="col-md-4" ng-repeat="paymentMethod in wzPaymentCtrl.pm.directMethods">
                <label class="btn btn-white btn-block btn-chk-payment-method"
                       ng-click="wzPaymentCtrl.selectedMethod(paymentMethod)">
                    <!-- to replace this icon as real image icon-->
                    <input type="radio" class="chk-payment-method hide" />
                    <i class="fa fa-cc-visa hide "></i>
                    <img class="img-card-icon" ng-src="{{ paymentMethod.ImageUrl }}" />
                    <span>{{ paymentMethod.Name }}</span>
                </label>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="modal-add-payment" class="modal inmodal fade modal-ru modal-ru-form" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <form name="addPaymentMethodForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Create Payment Method</h4>
                </div>
                <div class="modal-body">
                    <div id="form-add-payment-method"></div>
                    <div class="text-center m-t-md"><img src="../Content/images/payment/credit_cards.png" width="145" /></div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-success">Add</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>