<!-- Address, disable this if coming from outside login -->
<div class="row">
    <div class="col-sm-6">
        <label class="control-label text-muted">Pickup Address*</label>
        <div ng-class="{'has-error': wzDeliveryCtrl.WzDeliveryModel.collectionAddressHasError(), 'input-group': wzDeliveryCtrl.vm.user.enableContacts}">
            <!-- Hardcode for the size of GoogleMap for now. Improve later -->
            <input type="text" class="form-control" g-places-autocomplete force-selection="true"
                   ng-model="wzDeliveryCtrl.vm.pickupContact.address"
                   not-available-place="wzDeliveryCtrl.notAvailableAddressPickup(value)"
                   address-Changed="wzDeliveryCtrl.addressPickupChanged(place)" />
            <span class="input-group-btn">
                <button class="btn"
                        ng-class="{'btn-danger': wzDeliveryCtrl.WzDeliveryModel.collectionAddressHasError(), 'btn-white': !wzDeliveryCtrl.WzDeliveryModel.collectionAddressHasError()}"
                        type="button"
                        ng-click="wzDeliveryCtrl.showAddressBook('Pickup')"
                        ng-if="wzDeliveryCtrl.vm.user.enableContacts">
                    <i class="fa fa-book"></i>
                </button>
            </span>
        </div>

        <div class="alert alert-danger" role="alert" ng-if="wzDeliveryCtrl.WzDeliveryModel.collectionAddressHasError()">
            <ul ng-repeat="(errorKey, errorMsg) in wzDeliveryCtrl.WzDeliveryModel.errorsForCollectionAddress()">
                <li>{{errorMsg}}</li>
            </ul>
        </div>
    </div>

    <div class="col-sm-6">
        <label class="control-label text-muted">Delivery Address*</label>
        <div ng-class="{'has-error': wzDeliveryCtrl.WzDeliveryModel.deliveryAddressHasError(), 'input-group': wzDeliveryCtrl.vm.user.enableContacts}">
            <input type="text" class="form-control" g-places-autocomplete force-selection="true"
                   ng-model="wzDeliveryCtrl.vm.deliveryContact.address"
                   not-available-place="wzDeliveryCtrl.notAvailableAddressDelivery(value)"
                   address-Changed="wzDeliveryCtrl.addressDeliveryChanged(place)" />
            <span class="input-group-btn">
                <button class="btn btn-white"
                        ng-class="{'btn-danger': wzDeliveryCtrl.WzDeliveryModel.deliveryAddressHasError(), 'btn-white': !wzDeliveryCtrl.WzDeliveryModel.deliveryAddressHasError()}"
                        type="button"
                        ng-click="wzDeliveryCtrl.showAddressBook('Delivery')"
                        ng-if="wzDeliveryCtrl.vm.user.enableContacts">
                    <i class="fa fa-book"></i>
                </button>
            </span>
        </div>

        <div class="alert alert-danger" role="alert" ng-if="wzDeliveryCtrl.WzDeliveryModel.deliveryAddressHasError()">
            <ul ng-repeat="(errorKey, errorMsg) in wzDeliveryCtrl.WzDeliveryModel.errorsForDeliveryAddress()">
                <li>{{errorMsg}}</li>
            </ul>
        </div>
    </div>
</div>
<ng-include src="'scripts/app/modules/wizard/delivery/select-address-book.view.html'"></ng-include>
