<script type="text/ng-template" id="address-book.tpl.html">
    <div id="modal-address-book">
        <div class="modal-header">
            <button class="close" data-dismiss="modal" aria-label="Close" ng-click="close()">×</button>
            <h4 class="modal-title">Address Book</h4>
        </div>
        <div class="modal-body">
            <div class="filter-bar">
                <div class="filter-search">
                    <div class="has-feedback">
                        <input type="text" class="form-control no-submit txt-search" placeholder="Search" ng-model="searchText" />
                        <i class="fa fa-search form-control-feedback"></i>
                    </div>
                </div>
            </div>
            <div id="table-addresses" ng-init="init()">
                <div class="full-height-scroll">
                    <table class="table table-hover table-selectable table-no-head" style="cursor:pointer">
                        <tbody>
                            <tr ng-repeat="contact in contacts | filter: searchText" ng-click="selectedElment($index, contact)" class="{{$index==indexElement?'selected':''}}">
                                <td>
                                    <div><strong>{{contact.contactName}}</strong></div>
                                    <div>{{contact.companyName}}</div>
                                    <div>{{contact.address}}</div>
                                    <div>{{contact.contactPhone}}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" ng-click="selectedContact()">Select Contact</button>
        </div>
    </div>
</script>