<div class="row white-bg border-bottom page-headings">
    <div class="page-heading heading-main">
        <div class="col-md-12">
            <div class="breadcrumb-wrapper">
                <i class="fa fa-group"></i>
                <ol class="breadcrumb m-l-sm">
                    <li class="active">Customers</li>
                </ol>
            </div>
            <div class="table-responsive pull-right heading-actions-wrapper">
                <div class="heading-actions">
                    <div class="heading-action">
                        <div class="btn-group" id="btn-group-export">
                            <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" ng-click="customerCtrl.exportAll()">
                                <i class="fa fa-upload"></i>
                                <span>Export</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="fh-breadcrumb">
    <div class="full-height">
        <div class="full-height-scroll" slimscroll='{"height": "100%"}'>
            <div class="element-detail-box">
                <div class="ibox" id="ibox-customers">
                    <div class="ibox-content">
                        <div class="filter-bar">
                            <div class="filter-search">
                                <div class="has-feedback">
                                    <input type="text" ng-model="customerCtrl.customerModel.searchCriteria.SearchText" class="form-control txt-search" placeholder="Search..." ng-keypress="customerCtrl.keyPress($event)" />
                                    <i class="fa fa-search form-control-feedback" ng-click="customerCtrl.getNetworksUser()"></i>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-sortable" id="table-customers">
                                <thead>
                                    <tr>
                                        <th ng-repeat="column in customerCtrl.customerModel.searchCriteria.Columns">{{ column.HeaderTitle }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="user in customerCtrl.customerModel.networkUsers">
                                        <td ng-repeat="column in customerCtrl.customerModel.searchCriteria.Columns" nowrap="nowrap">
                                            <!--class="col-header {{ column.PropertyId }}"-->
                                            <div ng-if="column.ColumnDataType === 'LINK'">
                                                <div ng-if="user[column.FieldName] !== ''">
                                                    <span>
                                                        <a ui-sref="customerDetails({customerObj: user})" ng-click="selectUser(user)"><span><img ng-src="{{user['ImageUrl'] != '' ? user['ImageUrl'] :'/Content/images/generic/icon_male.png'}}" style="width: 30px;" alt="" /></span></a>
                                                        <a ui-sref="customerDetails({customerObj: user})" ng-click="selectUser(user)">{{user[column.FieldName]}}</a>
                                                    </span>
                                                </div>
                                            </div>
                                            <div ng-if="column.ColumnDataType == 'COMMON'">{{user[column.FieldName]}}</div>
                                            <div ng-if="column.ColumnDataType == 'DATE'">{{ user[column.FieldName] | jsonDate : 'dd MMM yyyy HH:mm:ss' }}</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="pull-right form-inline">
                            <span ng-show="customerCtrl.customerModel.networkUsers.length > 1 || customerCtrl.customerModel.paging.currentPage > 1">Showing {{(customerCtrl.customerModel.paging.currentPage - 1) * customerCtrl.customerModel.paging.pageSize + 1}} - {{(customerCtrl.customerModel.paging.currentPage - 1) * customerCtrl.customerModel.paging.pageSize + customerCtrl.customerModel.networkUsers.length}} of {{customerCtrl.customerModel.paging.totalRecord}} customers</span>
                            <select required ng-model="customerCtrl.customerModel.paging.pageSize" ng-change="customerCtrl.getNetworksUser()" class="form-control inline">
                                <option value="10">10 rows</option>
                                <option value="20">20 rows</option>
                                <option value="50">50 rows</option>
                                <option value="100">100 rows</option>
                            </select>
                            <uib-pagination total-items="customerCtrl.customerModel.paging.totalRecord" ng-model="customerCtrl.customerModel.paging.currentPage"
                                            items-per-page="customerCtrl.customerModel.paging.pageSize" style="margin-bottom: -13px" class="pagination pagination-sm inline"
                                            ng-change="customerCtrl.getNetworksUser()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                            </uib-pagination>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
